{% extends "admin/change_form.html" %}
{% load admin_static %}{% load i18n grp_tags %}

<!-- STYLESHEETS -->
{% block stylesheets %}
    {{ block.super }}

    <link href="{% static "unsaved_changes/css/unsaved_changes.css" %}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
  {{block.super}}
  <script type="text/javascript" src="{% static 'unsaved_changes/js/vendor/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'unsaved_changes/js/vendor/garlic.js' %}"></script>
  <script type="text/javascript" src="{% static 'unsaved_changes/js/unsaved_changes.jqueryplugin.js' %}"></script>

  <script>
    $( document ).ready(function() {
      $(document).unsavedChanges(
        {
          'use_persistant_storage':{{UNSAVED_CHANGES_USE_PERSISTANT_STORAGE|lower}},
          'use_alert':{{UNSAVED_CHANGES_USE_ALERT|lower}},
          'use_submitted_overlay':{{UNSAVED_CHANGES_USE_SUBMITTED_OVERLAY|lower}}
        }
      );
    });
  </script>

{% endblock %}


<!-- MESSAGES -->
{% block messages %}
    
  <ul class="grp-messagelist">
    
      {% if messages %}
      <!-- NOTE: no message|capfirst by purpose, because it does not work in some languages -->
      {% for message in messages %}
          <li{% if message.tags %} class="grp-{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      {% endif %}
  </ul>
    
{% endblock %}