{% extends "admin/change_form.html" %}
{% load static %}{% load i18n unsaved_changes_tags %}


{% block extrahead %}
  
  <!-- STYLESHEETS -->
  <link href="{% static "unsaved_changes/css/unsaved_changes.css" %}" rel="stylesheet" type="text/css" media="screen" />
    
  {{ block.super }}

  <!-- JAVASCRIPTS -->
  <script type="text/javascript" src="{% static 'unsaved_changes/js/vendor/jquery.js' %}"></script>
  <script type="text/javascript">
  var jquery_unsaved_changes = $.noConflict(true);
  </script>

  <script type="text/javascript" src="{% static 'unsaved_changes/js/vendor/garlic.js' %}"></script>
  <script type="text/javascript" src="{% static 'unsaved_changes/js/unsaved_changes.jqueryplugin.js' %}"></script>

  <script>

    {% get_unsaved_changes_settings as unsaved_changes_settings %}

    jquery_unsaved_changes( document ).ready(function() {
      jquery_unsaved_changes(document).unsavedChanges(
        {{ unsaved_changes_settings|safe }}
      );
    });
  </script>

  

{% endblock %}

